@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="login">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] CustomAuthStateProvider AuthProvider { get; set; } = default!;
    @inject NavigationManager Navigation

    private async Task Logout()
    {
        await AuthProvider.MarkUserAsLoggedOut();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
