.employee-card {
    display: flex;
    flex-direction: row;
    background: rgb(231, 231, 231);
    margin-bottom: 0.4rem;
    border-radius: 3px;
    max-width: 300px;
}

.active {
    height: auto;
    width: 5px;
    background: rgb(57, 173, 57);
}

.inactive {
    height: auto;
    width: 5px;
    background: rgb(182, 74, 74);
}

.employee {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

    .employee-name {
        margin: 0px;
    }

    .employee-details {
        display: flex;
        padding-inline: 10px;
        height: 20px;
    }

        .employee-details > p {
            margin-right: 10px;
            font-size: smaller;
        }